.workPlaces{
  display: flex;
  flex-direction: column;
  background: #EEEEEE;
  color: #161A27;
  padding: 10px;
  border-radius: 10px;
}
.firstTwo, .lastTwo{
  display: flex;
}
.workPlace{
  padding: 20px;
  width: 50%;
  font-size: smaller;
}
p{
  border-bottom: 1px solid #EF6F2E;
  padding-bottom: 5px;
  text-align: justify;

}
h3, h5{
  margin: 10px 0;
}
@media screen and (max-width: 900px) {
  .firstTwo, .lastTwo {
    flex-direction: column;
    align-items: center;
  }
}
