<article>
  <div class="workPlaces">
    <h3>Doświadczenie:</h3>
    <div class="firstTwo">
      <div class="workPlace">
        <h3>Pomoc IT</h3>
        <h5>3 lata | Pogotowie Komputerowe Łukasz Galiński</h5>
        <p>
          Odkąd stałem się bardziej świadomym użytkownikiem technologi, zajmowałem się drobnymi naprawami / usprawnieniami
          komputerów moich, moich bliskich. Dddawanie sprzętu do serwisu traktowalem bardzo personalnie, jako ostatnią
          deskę ratunku. Kiedy osiągnąłem pełnoletność, zacząłem pracować w serwisie komputerowym, gdzie miałem okazję
          doszkolić się w zakresie napraw komputerów, instalacji systemów operacyjnych, oraz składania komputerów.
        </p>
        <ul>
          <li>Windows</li>
          <li>Linux</li>
          <li>Składanie komputerów</li>
          <li>Podstawowa diagnoza i naprawa jednostek</li>
        </ul>
      </div>
      <div class="workPlace">
        <h3>Junior angular developer</h3>
        <h5>1 miesiąc | Nekken</h5>
        <p>
          Praca w formie zdalnej praktyki, gdzie miałem okazję poznać podstawy Angulara oraz SpringBoota. Są to
          narzędzia z którymi pozostałem na dłużej i do tej pory są moimi ulubione narzędzia do tworzenia aplikacji
          internetowych. Korzystałem z bazy danych
          Praktykant zajmujący się tworzeniem i dodawaniem funkcjonalności do strony
          internetowej, w technologiach opartych na SpringBoocie i Angularze.
          Przewijającymi językami i technologiami były również: Java, Typescript, HTML,
          CSS, OracleSQL, VPN, GitLab.
        </p>
        <ul>
          <li>Angular, TS, HTML, CSS, NGzorro</li>
          <li>SpringBoot, Java</li>
          <li>Oracle SQL</li>
          <li>GitLab, IntelliJ</li>
        </ul>
      </div>
    </div>
    <div class="lastTwo">
      <div class="workPlace">
        <h3>Grafik montażysta</h3>
        <h5>Kilkanaście projektów | Brandbo</h5>
        <p>
          Koordynator projektu znalazł mnie przez grupki facebookowe, gdzie oferowałem swoje usługi jako grafik
          montażysta. Pracowałem nad różnymi projektami, od prostych animacji, przez montaże filmów, po tworzenie grafik
          koncepcyjnych na potrzeby nowych produktów firmy.
        </p>
        <ul>
          <li>Photoshop</li>
          <li>SonyVegas</li>
          <li>Microsoft Office 365</li>
        </ul>
      </div>
      <div class="workPlace">
        <h3>Uniwersytet w Białymstoku</h3>
        <h5>3 lata | Kierunek informatyka</h5>
        <p>
          Studia licencjackie, które obroniłem w 2024. W trakcie studiów miałem kilka bardziej i kilka mniej przydatnych
          przedmiotów, ale mam wrażenie, że najwięcej wyniosłem z projektów grupowych, których było dużo
          na ostatnim roku. Praca w grupach nawet do 12 osób, oraz takich co trwały po kilka miesięcy.
        </p>
        <ul>
          <li>Wiele języków programowania
            <ul>
              <li>C/C++/C#</li>
              <li>Java</li>
              <li>Python</li>
              <li>R</li>
              <li>HTML+CSS+JS+PHP</li>
            </ul>
          </li>
          <li>Bazy danych - m.in. Oracle SQL</li>
          <li>Latex</li>
        </ul>
      </div>
    </div>
  </div>
</article>
