<article>
  <div class="workPlaces">
    <h3 class="title">{{ 'moreAboutMe.minorHeading' | translate }}</h3>
    <div class="firstTwo">
      <div class="workPlace">
        <h3>{{ 'moreAboutMe.itHelp.heading' | translate }}</h3>
        <h5>{{ 'moreAboutMe.itHelp.subHead' | translate }}</h5>
        <p>{{ 'moreAboutMe.itHelp.desc' | translate }}</p>
        <ul>
          <li>Windows</li>
          <li>Linux</li>
          <li>{{ 'moreAboutMe.itHelp.skill1' | translate }}</li>
          <li>{{ 'moreAboutMe.itHelp.skill2' | translate }}</li>
          <li>{{ 'moreAboutMe.itHelp.skill3' | translate }}</li>
        </ul>
      </div>
      <div class="workPlace">
        <h3>{{ 'moreAboutMe.angularDev.heading' | translate }}</h3>
        <h5>{{ 'moreAboutMe.angularDev.subHead' | translate }}</h5>
        <p>{{ 'moreAboutMe.angularDev.desc' | translate }}</p>
        <ul>
          <li>Angular, TS, HTML, CSS, NGzorro</li>
          <li>SpringBoot, Java</li>
          <li>Oracle SQL</li>
          <li>GitLab, IntelliJ</li>
        </ul>
      </div>
    </div>
    <div class="middleTwo">
      <div class="workPlace">
        <h3>{{ 'moreAboutMe.CS.heading' | translate }}</h3>
        <h5>{{ 'moreAboutMe.CS.subHead' | translate }}</h5>
        <p>{{ 'moreAboutMe.CS.desc' | translate }}</p>
        <ul>
          <li>{{ 'moreAboutMe.CS.skill1' | translate }}
            <ul>
              <li>C/C++/C#</li>
              <li>Java</li>
              <li>Python</li>
              <li>R</li>
              <li>HTML+CSS+JS+PHP</li>
              <li>{{ 'moreAboutMe.CS.skill2' | translate }}</li>
            </ul>
          </li>
          <li>{{ 'moreAboutMe.CS.skill3' | translate }}</li>
          <li>Latex</li>
        </ul>
      </div>
      <div class="workPlace">
        <h3>{{ 'moreAboutMe.freelance.heading' | translate }}</h3>
        <h5>{{ 'moreAboutMe.freelance.subHead' | translate }}</h5>
        <p>{{ 'moreAboutMe.freelance.desc' | translate }}</p>
        <ul>
          <li>Photoshop</li>
          <li>SonyVegas</li>
          <li>Microsoft Office 365</li>
        </ul>
      </div>
    </div>
    <div class="lastOne">
      <div class="workPlace">
        <h3>{{ 'moreAboutMe.mobileDev.heading' | translate }}</h3>
        <h5>{{ 'moreAboutMe.mobileDev.subHead' | translate }}</h5>
        <p>{{ 'moreAboutMe.mobileDev.desc1' | translate }}</p>
        <p>{{ 'moreAboutMe.mobileDev.desc2' | translate }}</p>
        <ul>
          <li>Android Studio, Kotlin, Java</li>
          <li>Room, Composable</li>
          <li>GitLab, Jira, MacOS</li>
        </ul>
      </div>
    </div>
  </div>
</article>
