.title{
  margin: 20px 0 0 20px;
}
.workPlaces{
  display: flex;
  flex-direction: column;
  background: #EEEEEE;
  color: #161A27;
  border-radius: 10px;
}
.itHelpJuniorAngularDevPar, .computerScienceVideoEditor, .juniorMobileDevPar{
  display: flex;
  justify-content: center;
}
.workPlace{
  padding: 25px;
  width: 50%;
  font-size: 1em;
}
.juniorMobileDevPar .workPlace {
  width: 70%
}
p{
  text-align: justify;
}
p:last-of-type{
  border-bottom: 1px solid #EF6F2E;
  padding-bottom: 5px;
}
h3, h5{
  margin: 10px 0;
}
@media screen and (max-width: 900px) {
  .itHelpJuniorAngularDevPar, .computerScienceVideoEditor {
    flex-direction: column;
    align-items: center;
  }
  .workPlace{
    width: 80%;
  }
  .workPlace{
    justify-content: center;
  }
  .title{
    text-align: center;
    margin: 20px 0 0 0;
  }
  p, ul{
    font-size: 0.8em
  }
  .juniorMobileDevPar .workPlace {
    width: 80%
  }
}
@media screen and (max-width: 600px) {
  .workPlace {
    padding: 10px 20px;
  }
  h3{
    font-size: 0.8em;
  }
  h5{
    font-size: 0.6em;
  }
}
@media screen and (max-width: 430px) {
  p, ul{
    font-size: 0.8em
  }
}
