<article>
  <div class="workPlaces">
    <h3 class="title">Doświadczenie:</h3>
    <div class="firstTwo">
      <div class="workPlace">
        <h3>Pomoc IT</h3>
        <h5>3 lata | Pogotowie Komputerowe Łukasz Galiński</h5>
        <p>
          Odkąd stałem się bardziej świadomym użytkownikiem technologi, zajmowałem się drobnymi naprawami / usprawnieniami
          moich komputerów, moich bliskich. Kiedy osiągnąłem pełnoletność, zacząłem pracować w serwisie komputerowym,
          gdzie miałem okazję doszkolić się w zakresie napraw i składania komputerów.
        </p>
        <ul>
          <li>Windows</li>
          <li>Linux</li>
          <li>Składanie komputerów</li>
          <li>Podstawowa diagnoza i naprawa jednostek</li>
          <li>Dojazd i kontakt z klientami</li>
        </ul>
      </div>
      <div class="workPlace">
        <h3>Junior angular developer</h3>
        <h5>1 miesiąc | Nekken</h5>
        <p>
          Praca w formie zdalnej praktyki wymaganej na przez tok studiów, gdzie miałem okazję poznać podstawy Angulara
          oraz SpringBoota. Są to narzędzia z którymi pozostałem na dłużej i do tej pory są moimi ulubione narzędzia do
          tworzenia aplikacji internetowych. Od strony bazy danych, korzystałem z OracleSQL, którą poznałem już na
          zajęciach. Większość czasu zajmowałem się implementacją nowych funkcjonalności na stronie internetowej.
        </p>
        <ul>
          <li>Angular, TS, HTML, CSS, NGzorro</li>
          <li>SpringBoot, Java</li>
          <li>Oracle SQL</li>
          <li>GitLab, IntelliJ</li>
        </ul>
      </div>
    </div>
    <div class="lastTwo">
      <div class="workPlace">
        <h3>Studia informatyczne</h3>
        <h5>3 lata | Uniwersytet w Białymstoku</h5>
        <p>
          Studia licencjackie, które obroniłem w 2024. W trakcie studiów miałem kilka bardziej i kilka mniej przydatnych
          przedmiotów, ale mam wrażenie, że najwięcej wyniosłem z projektów grupowych, których było dużo
          na ostatnim roku. Praca w grupach nawet do 12 osób, oraz takich co trwały po kilka miesięcy. Tematem
          przewodnim ostatniego roku była praca licencjacka, która również bardzo dużo mnie nauczyła.
        </p>
        <ul>
          <li>Wiele języków programowania
            <ul>
              <li>C/C++/C#</li>
              <li>Java</li>
              <li>Python</li>
              <li>R</li>
              <li>HTML+CSS+JS+PHP</li>
              <li>Kilka frameworków</li>
            </ul>
          </li>
          <li>Bazy danych - m.in. Oracle SQL</li>
          <li>Latex</li>
        </ul>
      </div>
      <div class="workPlace">
        <h3>Grafik montażysta</h3>
        <h5>Kilkanaście projektów | Brandbo</h5>
        <p>
          Koordynator projektu znalazł mnie przez grupki facebookowe, gdzie oferowałem swoje usługi jako grafik
          montażysta. Pracowałem nad różnymi projektami - głównie samodzielnie - od prostych animacji, przez montaże filmów, po tworzenie grafik
          koncepcyjnych na potrzeby nowych produktów firmy.
        </p>
        <ul>
          <li>Photoshop</li>
          <li>SonyVegas</li>
          <li>Microsoft Office 365</li>
        </ul>
      </div>
    </div>
  </div>
</article>
