<div class="rectangles">
  <div class="firstTwo">
    <div class="rectangle">
      <div class="rectangle-content">
        <p>Mam na imię Jakub</p>
      </div>
      <div class="rectangle-back">
        <p>Mieszkam w Białymstoku i szukam pracy</p>
      </div>
    </div>
    <div class="rectangle">
      <div class="rectangle-content">
        <p>Mam {{ getAge() }} lat</p>
      </div>
      <div class="rectangle-back">
        <p>Od 6 lat interesuje się programo&shy;waniem, a odkąd pamiętam interesuje się technologią i komputerami</p>
      </div>
    </div>
  </div>
  <div class="secondTwo">
    <div class="rectangle">
      <div class="rectangle-content">
        <p>Ukończyłem studia na kierunku Informatyka</p>
      </div>
      <div class="rectangle-back">
        <p>Na których najwięcej nauczyłem się pracy w zespole</p>
      </div>
    </div>
    <div class="rectangle">
      <div class="rectangle-content">
        <p>Stworzyłem kilka większych jak i mniejszych projektów</p>
      </div>
      <div class="rectangle-back">
        <p>Wszystkie publiczne są opisane na moim GitHubie </p>
      </div>
    </div>
  </div>
</div>


<!--Hejka! Mam na imię <span class="highlighted">Jakub</span>, mam <span class="highlighted">{{getAge()}}-->
<!--    </span> lat, ukończyłem studia na kierunku Informatyka na Uniwersytecie Białostockim i szukam obecnie pracy jako-->
<!--<span class="highlighted">Junior Frontend/Fullstack Developer</span>. Wszystkie moje większe, warte pokazania-->
<!--projekty są dokładniej opisane na moim <span class="highlighted">GitHubie</span>-->
