<div class="rectangles">
  <div class="firstTwo">
    <div class="rectangle">
      <div class="rectangle-content">
        <p>{{ 'aboutMe.myNameIs' | translate }}</p>
      </div>
      <div class="rectangle-back">
        <p>{{ 'aboutMe.myNameIs2' | translate }}</p>
      </div>
    </div>
    <div class="rectangle">
      <div class="rectangle-content">
        <p>{{ 'aboutMe.firstAge' | translate }}{{ getAge() }}{{ 'aboutMe.secondAge' | translate }}</p>
      </div>
      <div class="rectangle-back">
        <p>{{ 'aboutMe.firstAge2' | translate }}&shy;{{ 'aboutMe.secondAge2' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="secondTwo">
    <div class="rectangle">
      <div class="rectangle-content">
        <p>{{ 'aboutMe.iFinished' | translate }}</p>
      </div>
      <div class="rectangle-back">
        <p>{{ 'aboutMe.iFinished2' | translate }}</p>
      </div>
    </div>
    <div class="rectangle">
      <div class="rectangle-content">
        <p>{{ 'aboutMe.iCreated' | translate }}</p>
      </div>
      <div class="rectangle-back">
        <p>{{ 'aboutMe.iCreated2' | translate }}</p>
      </div>
    </div>
  </div>
</div>
