<div class="topButtonPanel">
  <button
    [ngClass]="{ 'selectedButton': selectedTab.value === 'pepnet' }"
    id="pepnet" class="selectedButton" (click)="switchSelectedTab('pepnet')">Pep.net</button>
  <button
    [ngClass]="{ 'selectedButton': selectedTab.value === 'repositorylister' }"
    id="repositorylister" (click)="switchSelectedTab('repositorylister')">RepositoryLister</button>
  <button
    [ngClass]="{ 'selectedButton': selectedTab.value === 'medpics' }"
    id="medpics" (click)="switchSelectedTab('medpics')">MedpicsAnalisys</button>
  <button
    [ngClass]="{ 'selectedButton': selectedTab.value === 'tictactoe' }"
    id="tictactoe" (click)="switchSelectedTab('tictactoe')">TicTacToe</button>
</div>
<div class="displayedProject">
  <project-info [selectedTabSubject]="selectedTab" ></project-info>
</div>
