.topButtonPanel{
  display: flex;
}
button{
  width: 25%;
  padding: 20px 0;
  border: none;
  background: #2A324B;
  color: #EEEEEE;
}
button:first-of-type{
  border-radius: 10px 0 0 0;
}
button:last-of-type{
  border-radius: 0 10px 0 0;
}
button:hover{
  background: #CCC;
  color: #161A27;
  cursor: pointer;
}

.selectedButton {
  background: #EEEEEE;
  color: #161A27;
}

.selectedButton:hover{
  background: #DDD;
}

.displayedProject{
  background: #EEEEEE;
  width: 100%;
  min-height: 80vh;
  border-radius: 0 0 10px 10px;
  color: #161A27;
}
@media screen and (max-width: 500px){
  button{
    font-size: 12px;
  }
}





