.wholeScreen{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

main-section h2{
  text-align: center;
  margin-top: 0;
}

@media screen and (max-width: 1420px){
  side-bar{
    display: none;
  }
}
