.wholeScreen{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

main-section h2{
  text-align: center;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  color: #EF6F2E;
  border-bottom: 1px solid #EEE;
}

.top-bar{
  display:none;
}

@media screen and (max-width: 1420px){
  side-bar{
    display: none;
  }
  .top-bar{
    display: block;
  }
}
