<div class="wholeScreen">
  <side-bar></side-bar>
  <div class="mainPart">
    <main-section class="top-bar">
      <side-top-bar></side-top-bar>
    </main-section>
    <main-section>
      <h2>Kilka informacji o mnie:</h2>
    <flipping-cards></flipping-cards>
    </main-section>
    <main-section>
      <h2>Moje projekty:</h2>
      <project-tabs></project-tabs>
    </main-section>
    <main-section>
      <h2>Lorem:</h2>
      Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
      Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
      Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
      Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
      Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
      Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
      Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
      Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
      Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
      Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
      Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
    </main-section>
  </div>
</div>

