.wholeScreen{
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #2a324b;
}
.lightTheme{
  background-color: #EEE;
}

main-section h2{
  text-align: center;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  /*padding: 20px;*/
  color: #EF6F2E;

}
.firstHeading{
  border-bottom: 1px solid #EEE;
}
.top-bar{
  display:none;
}

@media screen and (max-width: 1420px){
  side-bar{
    display: none;
  }
  .top-bar{
    display: block;
  }
}

@media screen and (max-width: 800px){
  main-section h2{
    font-size: 1em;
  }

}
