<div class="wholeScreen" [ngClass]="{'lightTheme': isLightTheme}">
  <side-bar></side-bar>
  <div class="mainPart">
    <main-section class="top-bar">
      <side-top-bar></side-top-bar>
    </main-section>
    <main-section>
      <h2 class="firstHeading">Kilka informacji o mnie:</h2>
    <flipping-cards></flipping-cards>
    </main-section>
    <main-section>
      <h2>Moje projekty:</h2>
      <project-tabs></project-tabs>
    </main-section>
    <main-section>
      <h2>Więcej o mnie:</h2>
      <more-about-me></more-about-me>
    </main-section>
  </div>
</div>

