<section *ngIf="selectedTab === 'pepnet'" id="pepnet">
  <h3>Pep.net</h3>
  <img ngSrc="/assets/MOZAJKA.PNG" alt="" height="150" width="150">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Projekt e-piekarni, który obejmuje część sklepu odpowiedzialnego za sprzedarz detaliczną
    pieczywa, jak i narzędzia do zarządzania sklepem od strony pracownika. Projekt powstawał kilka miesięcy pod
    patronatem mojego promotora - dr Wiesława Półjanowicza. Jest to aplikacja na podstawie której obroniłem pracę
    licencjacką o temacie "Komputeryzacja małej firmy rodzinnej - projekt i implementacja". </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Ta aplikacja była dla mnie dużym krokiem na przód, ze względu na to że większość
    projektów była docelowo frontem lub backendem, z drugą stroną zrobioną po łebkach. Tutaj wszystko zostało dopięte
    na ostatni guzik. Aplikacja jest dostosowana do różnych rozmiarów ekranów, a cały design strony jest mojego
    autorstwa, bo chciałem przekonać się czy taką aplikację można zrobić od podstaw, zarazem zachowując spójność
    projektu. </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Większość zdjęć widocznych na stronie zostały stworzone przez DeepAI.

  </p>
  <a href="#"><i class="icss-github-o-c"></i> Repozytorium</a>
  <div class="technologies">
    <ul> Użyte technologie:
      <li>Angular</li>
      <li>SpringBoot</li>
      <li>MongoDB</li>
      <li>DeepAI</li>
    </ul>
    <ul> Wspierające technologie:
      <li>IntelliJ</li>
      <li>GitHub</li>
      <li>Postman</li>
      <li>Google Fonts</li>
    </ul>
  </div>
</section>
<section *ngIf="selectedTab === 'repositorylister'" id="repositorylister">
  <h3>RepositoryLister</h3>
  <img ngSrc="/assets/MOZAJKA.PNG" alt="" height="150" width="150">
  <p>O projekcie</p>
  <a href="#"><i class="icss-github-o-c"></i> Repozytorium</a>
  <div class="technologies">
    <ul> Użyte technologie:
      <li>SpringBoot</li>
      <li>GitHubAPI</li>
      <li>Angular</li>
    </ul>
    <ul> Wspierające technologie:
      <li>IntelliJ</li>
      <li>GitHub</li>
      <li>Postman</li>
      <li>Google Fonts</li>
    </ul>
  </div>
</section>
<section *ngIf="selectedTab === 'medpics'" id="medpics">
  <h3>MedpicsAnalisys</h3>
  <img ngSrc="/assets/MOZAJKA.PNG" alt="" height="150" width="150">
  <p>O projekcie</p>
  <a href="#"><i class="icss-github-o-c"></i> Repozytorium</a>
  <div class="technologies">
    <ul> Użyte technologie:
      <li>Java</li>
    </ul>
    <ul> Wspierające technologie:
      <li>IntelliJ</li>
      <li>GitHub</li>
    </ul>
  </div>
</section>
<section *ngIf="selectedTab === 'tictactoe'" id="tictactoe">
  <h3>TicTacToe</h3>
  <img ngSrc="/assets/MOZAJKA.PNG" alt="" height="150" width="150">
  <p>O projekcie</p>
  <a href="#"><i class="icss-github-o-c"></i> Repozytorium</a>
  <div class="technologies">
    <ul> Użyte technologie:
      <li>Java</li>
    </ul>
    <ul> Wspierające technologie:
      <li>IntelliJ</li>
      <li>GitHub</li>
    </ul>
  </div>
</section>
