<section *ngIf="selectedTab === 'pepnet'" id="pepnetSection">
  <h3>Pep.net</h3>
  <image-carousel project='pepnet' quantity=6></image-carousel>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ 'myProjects.eBakeryDesc1' | translate }}</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ 'myProjects.eBakeryDesc2' | translate }}</p>
  <a href="https://github.com/VeniQs02/pep.net-bachelors-thesis-web-app" target="_blank">
    <i class="pi pi-github"></i> {{ 'myProjects.repository' | translate }}
  </a>
  <div class="technologies">
    <ul>
      <li>{{ 'myProjects.usedTech' | translate }}</li>
      <li>Angular</li>
      <li>SpringBoot</li>
      <li>MongoDB</li>
      <li>DeepAI</li>
    </ul>
    <ul>
      <li>{{ 'myProjects.additionalTech' | translate }}</li>
      <li>IntelliJ</li>
      <li>GitHub</li>
      <li>Postman</li>
      <li>Google Fonts</li>
    </ul>
  </div>
</section>
<section *ngIf="selectedTab === 'repositorylister'" id="repositorylister">
  <h3>RepositoryLister</h3>
  <image-carousel project="repositorylister" quantity=4></image-carousel>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ 'myProjects.githubApiDesc1' | translate }}</p>
  <a href="https://github.com/VeniQs02/repository-lister-api" target="_blank">
    <i class="pi pi-github"></i> {{ 'myProjects.repository' | translate }}
  </a>
  <div class="technologies">
    <ul>
      <li>{{ 'myProjects.usedTech' | translate }}</li>
      <li>SpringBoot</li>
      <li>GitHubAPI</li>
      <li>Angular</li>
    </ul>
    <ul>
      <li>{{ 'myProjects.additionalTech' | translate }}</li>
      <li>IntelliJ</li>
      <li>GitHub</li>
      <li>Postman</li>
      <li>Google Fonts</li>
    </ul>
  </div>
</section>
<section *ngIf="selectedTab === 'medpics'" id="medpics">
  <h3>MedpicsAnalisys</h3>
  <image-carousel project="medpics" quantity='3'></image-carousel>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ 'myProjects.medpicsDesc1' | translate }}</p>
  <p>{{ 'myProjects.medpicsDesc2' | translate }}</p>
  <a href="https://github.com/VeniQs02/medpics-picture-modification-and-analisis-project" target="_blank">
    <i class="pi pi-github"></i> {{ 'myProjects.repository' | translate }}
  </a>
  <div class="technologies">
    <ul>
      <li>{{ 'myProjects.usedTech' | translate }}</li>
      <li>Java</li>
    </ul>
    <ul>
      <li>{{ 'myProjects.additionalTech' | translate }}</li>
      <li>IntelliJ</li>
      <li>GitHub</li>
    </ul>
  </div>
</section>
<section *ngIf="selectedTab === 'scheduleapp'" id="scheduleapp">
  <h3>ScheduleApp</h3>
  <image-carousel project="scheduleapp" quantity="5"></image-carousel>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ 'myProjects.schedulerDesc1' | translate }}</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ 'myProjects.schedulerDesc2' | translate }}</p>
  <a href="https://scheduleapp.pages.dev/home" target="_blank">
    <i class="pi pi-link"></i> {{ 'myProjects.appDemo' | translate }}
  </a>
  <a href="https://github.com/VeniQs02/veniqs02.github.io" target="_blank">
    <i class="pi pi-github"></i> {{ 'myProjects.repository' | translate }}
  </a>
  <div class="technologies">
    <ul>
      <li>{{ 'myProjects.usedTech' | translate }}</li>
      <li>Angular</li>
      <li>ChatGPT</li>
    </ul>
    <ul>
      <li>{{ 'myProjects.additionalTech' | translate }}</li>
      <li>IntelliJ</li>
      <li>GitHub</li>
      <li>Angular Material UI</li>
      <li>Google Fonts</li>
      <li>Coolors</li>
    </ul>
  </div>
</section>
