aside{
  width: 350px;
}

#menuButton{
  display: block;
  position: fixed;
  margin-top: 42px;
  top: 20px;
  left: 20px;
  background-color: #161A27;
}

#menuButton .material-symbols-rounded {
  color: #FFFFFF;
}

#sidePanel{
  margin: 10px 0 0 10px;
  padding: 50px;
  background-color: #161A27;
  width: 270px;
  height: 800px;
  border-radius: 50px;
  border: 2px solid #2A324B;
  color: #EEEEEE;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
  position: fixed;
  z-index: 5;
  /*box-shadow:*/
  /*  #EEEEEE  1px 1px 2px inset,*/
  /*  #EEEEEE -1px 1px 2px inset,*/
  /*  #EEEEEE -1px -1px 2px inset,*/
  /*  #EEEEEE  1px -1px 2px inset;*/
}

.topPanel{
  display: flex;
  flex-direction: row;
}

.bottomPanel a{
  color: #F28954;
}

.bottomPanel a:hover{
  color: #EEEEEE;
}

.textContent{
  overflow: hidden;

}

.sideButtons{
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  /*height: 100%;*/
  /*align-items: center;*/
  gap: 50px;
  position: relative;
  right: -80px;
}
button{
  background-color: #f49668;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  transition: transform 0.2s ease-in, width 0.2s ease, height 0.2s ease;

}
button:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.material-symbols-rounded{
  color: #161A27;
  font-size: 2.5em;
}

.hidden {
  display: none;
  transform: translateX(-120%);
  pointer-events: none;
}

