<aside>
  <button id="menuButton" *ngIf="!isSideBarBeingDisplayed" (click)="toggleSideBar()">
    <span class="material-symbols-rounded">menu</span>
  </button>
  <div id="sidePanel" [ngClass]="{'hidden': !isSideBarBeingDisplayed}">
    <div class="topPanel">
      <div class="textContent">
        <div>
          <h4 class="title">Portfolio</h4>
          <p class="link">Jakub Kańgowski <br> Junior Developer</p>
          <img ngSrc="assets/Jakub_Kańgowski_CV.jpg" height="150" width="150" alt="Zdjęcie autora" priority>
        </div>
        <div class="downloadResume">
          <a class="downloadResumeA"  href="assets/Jakub_Kańgowski_CV.pdf" download>
            <button class="downloadResumeButton">
              <i class="pi pi-download"></i>
              <p>Pobierz CV</p>
            </button>
          </a>
        </div>
      </div>
      <div class="sideButtons">
        <button class="sideButton" (click)="toggleSideBar()" title="Zamknij menu">
          <span class="material-symbols-rounded">close</span>
        </button>
        <button class="sideButton">
          <span class="material-symbols-rounded" title="Tryb ciemny/jasny - do zrobienia">dark_mode</span>
        </button>
        <button class="sideButton" (click)="toggleLanguageSelection()" title="Zmień język - do zrobienia">
          <span class="material-symbols-rounded">language</span>
        </button>
      </div>
    </div>
    <div class="bottomPanel">
    <p>Zainteresowany współpracą? <br> - Odezwij się! </p>
    <p class="linkText"><i class="pi pi-github"></i> GitHub</p><a href="https://github.com/VeniQs02" target="_blank" class="link">github.com/VeniQs02</a>
    <p class="linkText"><i class="pi pi-linkedin"></i> LinkedIn</p><a href="https://www.linkedin.com/in/jakub-ka%C5%84gowski-a19258245/" target="_blank" class="link">linkedin.com/in/jakub-kańgowski</a>
    <p class="linkText"><i class="pi pi-envelope"></i> E-mail</p><a href="mailto:jakub.kangowski7@vp.pl" class="link">jakub.kangowski7&#64;vp.pl</a>
    </div>
  </div>
</aside>
