@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: #2a324b;
  /*background-image: url("/assets/MOZAJKA.PNG");*/
  background-repeat: repeat;
  margin: 0;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
}

body::-webkit-scrollbar {
  width: 22px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #161A27;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #f49668;
  border-left: solid 4px #161A27;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #f28954;
}
