section{
  position: relative;
  z-index: 0;
  background-color: #161A27;
  padding: 2em;
  margin: 5px 0 0 0;
  border-radius: 20px;
  color: #EEEEEE;
  transition: transform 0.4s ease-in-out;
  width: 65vw;
  box-shadow: 0 0 50px -10px #161A27;

}

.lightTheme{
  background-color: #DCDCDC;
  color: #161A27;

  box-shadow: none;
}
@media screen and (max-width: 1150px){
  section{
    padding: 1em;
  }
}

@media screen and (max-width: 600px){
  section{
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    border-radius: 0;
    margin: 0 0 0.2em 0;
  }
}
@media screen and (min-width: 1420px){
  .centered{
    transform: translateX(-165px);
  }
}
