<section [ngClass]="{ 'centered': !isSideBarVisible }">
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
  Lorem ipsum textum separatum continuumLorem ipsum textum separatum continuum
</section>
