<div class="wholeSection">
  <div class="leftPanel">
    <div class="leftSmallerPanel">
      <h4 class="title">Portfolio</h4>
      <p class="link">Jakub Kańgowski<br> Junior Developer</p>
      <img ngSrc="assets/Jakub_Kańgowski_CV.jpg" priority height="416" width="416" alt="{{'sideBar.authorsPhoto' | translate}}">
    </div>
    <div class="middleButtons">
      <div class="downloadResume">
        <a class="downloadResumeA" href="assets/Jakub_Kańgowski_CV.pdf" download>
          <button class="downloadResumeButton" type="button">
            <i class="pi pi-download"></i>
            <p>{{'sideBar.download' | translate}}</p>
          </button>
        </a>
      </div>
      <div class="smallerMiddleButtons">
        <button class="sideButton" (click)="toggleThemeButtonAction()" type="button">
          <span class="material-symbols-rounded" title="{{'sideBar.changeTheme' | translate}}">
            {{ themeToggleService.isLightTheme() ? 'light_mode' : 'dark_mode' }}
          </span>
        </button>
        <button class="sideButton" (click)="toggleLanguageSelection()" title="{{'sideBar.changeLanguage' | translate}}"
                type="button">
          <span class="material-symbols-rounded">language</span>
        </button>
      </div>
    </div>
  </div>
  <div class="rightPanel">
    <p class="interestedTitle">{{'sideBar.intrested' | translate}} <br class="lineBreak"> - {{'sideBar.reachOut' | translate}}</p>
    <p class="linkText"><i class="pi pi-github"></i> GitHub</p><a href="https://github.com/VeniQs02" target="_blank" class="link">github.com/VeniQs02</a>
    <p class="linkText"><i class="pi pi-linkedin"></i> LinkedIn</p><a href="https://www.linkedin.com/in/jakub-ka%C5%84gowski-a19258245/" target="_blank" class="link">linkedin.com/in/jakub-kańgowski</a>
    <p class="linkText"><i class="pi pi-envelope"></i> E-mail</p><a href="mailto:jakub.kangowski7@vp.pl" class="link">jakub.kangowski7&#64;vp.pl</a>
  </div>
</div>
