.wholeSection, .leftPanel, .leftSmallerPanel, .rightPanel{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.material-symbols-rounded {
  color: #FFFFFF;
}
.leftPanel{
  justify-content: space-around;
  gap: 30px;
}
.leftSmallerPanel, .rightPanel{
  flex-direction: column;
}

.title{
  margin: 0;
  border-bottom: 1px solid #EF6F2E;
}
.interestedTitle{
  margin: 0 0 10px 0;
}
img{
  border-radius: 20%;
  margin: 10px 0;
  height: 190px;
  width: 190px;
}
.link{
  color: #f28954;
  font-size: 0.8em;
  margin-bottom: 0.1em;
}
.link:hover{
  color: #EF6F2E;
}
.linkText{
  margin: 5px;
  transform: translateX(-15px);
}
.downloadResume i{
  font-size: 1.4em;
  font-weight: bold;
}
.downloadResumeA{
  text-decoration: none;
}
.downloadResumeButton{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f28954;
  color: #161A27;
  font-weight: bold;
  font-size: 0.6em;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  transition: transform 0.2s ease-in, width 0.2s ease, height 0.2s ease;
}
.downloadResumeButton:hover{
  background-color: #EF6F2E;
  transform: scale(1.1);
  cursor: pointer;
}
.middleButtons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sideButton{
  background-color: #f28954;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  transition: transform 0.2s ease-in, width 0.2s ease, height 0.2s ease;
  box-shadow: 0 0 30px -20px #EEEEEE;

}
.sideButton:hover{
  background-color: #EF6F2E;
  transform: scale(1.2);
  cursor: pointer;
}
.smallerMiddleButtons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.material-symbols-rounded{
  color: #161A27;
  font-size: 2.4em;
}

@media screen and (max-width: 1150px){
  .wholeSection{
    flex-direction: column;
  }
  .rightPanel{
    align-items: center;
  }
  .lineBreak{
    display: none;
  }
  .leftPanel{
    gap: 10px;
  }
  img{
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 750px){
  .leftPanel{
    justify-content: center;
    gap: 5px;
  }
  .lineBreak{
    display: block;
  }
  .rightPanel{
    font-size: 0.8em;
  }
  img{
    height: 120px;
    width: 120px;
  }
}
